.flex {
    display: flex;
}

.sidebar {
    display: flex;
}

.proc {
    border: 1px solid black;
    width: 150px;
    font-family: "Courier New", monospace;
    color: #ffffff;
    background-color: #888888;
}

.register {
    display: flex;
}

.register_label {
    flex-grow: 1;
    text-align: right;
}

.register_val {
    background-color: #bbbbbb;
    margin: 1px;
    padding-left: 2px;
    padding-right: 4px;
    margin-left: 4px;
    margin-right: 4px;
}


.memory {
    font-family: "Courier New", monospace;
    background-color: #222222;
    color: #dddddd
}
.byte_table {
    border-spacing: 0;
    border-width: 0;
}

.byte {
    border-width: 2px;
    border-radius: 2px;
    border-color: #00000000;
    border-style: solid;
    background-color: #00000000;
    padding: 0;
}
